*{
	margin: 0;
	padding: 0;
}

body {
	width: 1280px;
	margin: auto;
	font-family: "Arial", sans-serif;
	font-size: 16px;
	color: #484848;
	line-height: 24px;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.header {
	width: 100%;
	min-height: 325px;
	color: #ffffff;
	background-color: #445162;

	display: flex;
	justify-content: space-between;
}

.header__title {
	width: 590px;
	padding: 50px;
/*	margin-top: 50px;
	margin-left: 50px;*/
}

.header__title--name {
	margin-bottom: 50px;
	font-size: 60px;
}

.header__title--list {
	list-style: none;
	line-height: 36px;
}

.header__title--item {
	position: relative;
	padding-left: 36px;
}

.header__title--item::before {
	content: "";

	position: absolute;
	width: 10px;
	height: 5px;
	left: 0;
	top: 15px;
	transform: rotate(45deg);

	background-color: #ffffff;
}

.header__title--item::after {
	content: "";

	position: absolute;
	width: 20px;
	height: 5px;
	left: 4px;
	top: 12px;
	transform: rotate(-45deg);

	background-color: #ffffff;
}

.header__img {
	min-width: 470px;
	height: 217px;
	padding: 50px;
}

.description {
	width: 100%;
	min-height: 345px;

	display: flex;
}

.description__content {
	padding: 50px;
	width: 660px;
	min-height: 245px;
}
.description__title {
	font-size: 30px;
	margin-bottom: 35px;
}

.description__text {
	margin-bottom: 25px;
}

.description__img {
	width: 430px;
	height: 245px;
	padding: 50px;
}

.dignity {
	background-color: #f5f5f5;
	padding: 50px;
}

.dignity__title {
	font-size: 30px;
	padding-bottom: 30px;
	text-align: center; 
}

.dignity__wrapper {
	display: flex;
	flex-wrap: wrap;
}

.dignity__item {
	position: relative;
	width: 590px;
	padding-bottom: 40px;
}

.dignity__item:nth-child(6),.dignity__item:nth-child(5) {
	padding-bottom: 0;
}

.dignity__text {
	padding-left: 45px;
	position: relative;
}

.dignity__element {
	position: absolute;
	width: 33px;
	height: 33px;
	top: 5px;
	background-color: #445161;
}

.dignity__element::before,
.dignity__element::after {
	content: "";

	position: absolute;
	width: 20px;
	height: 4px;
	top: 15px;
	right: 7px;
	background-color: #ffffff;
}

.dignity__element::before {
	transform: rotate(90deg);
}

.scrinshots {
	padding: 50px;
}

.scrinshots__wrapper {
	display: flex;
	flex-wrap: wrap;
}

.scrinshots__title {
	font-size: 30px;
	text-align: center;
	padding-bottom: 35px;
}

.scrinshots__item--title {
	padding-bottom: 13px;
}

.scrinshots__item {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;

	padding-bottom: 30px;
}

.scrinshots__img {
	width: 200px;
	height: 150px;
	padding-right: 20px;
}

.scrinshots__content {
	width: 370px;
}

.reviews {
	padding: 50px;
	background-color: #f5f5f5;
}

.reviews__wrapper {
	display: flex;
	flex-wrap: wrap;
}

.reviews__title {
	font-size: 30px;
	text-align: center;
	padding-bottom: 35px;
}

.reviews__item {
	position: relative;
	margin: 0 25px 25px 0;
	width: 575px;
	border: 1px;
}

.reviews__item:nth-child(even) {
	margin-right: 0;
}

.reviews__item:nth-child(3), 
.reviews__item:nth-child(4) {
	margin-bottom: 0;
}

.reviews__text {
	padding: 15px;
	font-size: 14px;
	line-height: 18px;
	font-style: italic;
	margin-left: 90px;
	border-radius: 10px;

	background-color: #ebebeb;
}

.reviews__text::before {
	content: "";

	position: absolute;
	width: 20px;
	height: 20px;
	left: 80px;
	top: 30px;
	transform: rotate(45deg);
	background-color: #ebebeb;}

.reviews__author {
	font-style: normal;
	display: inline-block;
	margin-top: 10px;
	color: #989898;

}

.reviews__element {
	position: absolute;
	width: 70px;
	height: 70px;
	top: 10px;
	border-radius: 50%;
	background-color: #445161;
}

.price {
	padding: 50px;
}

.price__title {
	font-size: 30px;
	color: #445162;
	text-align: center;
	padding-bottom: 30px;
}

.price__item {
	width: 300px;
	margin: 10px;
	margin-right: 30px;
	text-align: center;
	border-radius: 7px;
	background-color: #445162;
	color: #ffffff;
}

.price__wrapper {
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.price__item--title {
	font-size: 24px;
	padding: 15px 0 0 0;
	margin-bottom: 20px;
}

.price__number {
	display: inline-block;
	font-size: 40px;
	padding: 15px 102px 15px 102px;

	background-color: #ffffff;
	color: #445162;
}

.price__list {
	list-style: normal;
	text-align: left;
	padding: 20px;
	padding-left: 35px;
	font-size: 14px;
	line-height: 24px;
	padding-top: 25px;
}

.button {
	display: inline-block;
	text-transform: uppercase;
	font-weight: 800;
	color: #445162;

	background-color: #ffffff;
	border-radius: 10px;
	border: none;
}

.button.price__button {
	font-size: 18px;
	width: 260px;
	height: 40px;
	margin: 20px;
	margin-top: 0;
}

.contacts {

	background-color: #445162;
	color: #ffffff;
}

.contacts__title {
	font-size: 30px;
	text-align: center;
	padding: 50px 50px 30px 50px;
}

.contacts__wrapper {
	display: flex;
	justify-content: center;
}

.contacts__content {
	margin-right: 45px;
}

.login-form input[type="text"],
.login-form input[type="email"],
.input__field {
	box-sizing: border-box;
	width: 500px;
	padding: 15px 0 15px 10px;
	border: none;
	border-radius: 5px;
}

.contacts__content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login__item {
	padding-bottom: 20px;
}

.button.contacts__button {
	width: 140px;
	padding: 15px 50px;
	margin-top: 20px;
	margin-bottom: 50px;
}

.social__info--item,
.social__list li {
	list-style: none;
}

.social__info--item p{
	padding-left: 30px;
}
.social__info--item {
	position: relative;
	padding-bottom: 20px;
}

.social__button {
	color: #ffffff;
}

.social__icon {
	position: absolute;
	top: 2px;
}

.social__list {
	display: flex;
	justify-content: space-between;
}

.font__icon {
	display: block;
	width: 50px;
	height: 50px;
	position: relative;
	color: #445162;
}

.font__icon::after{
	display: block;
	content: "";
	width: 50px;
	height: 50px;
	background-color: #ffffff;
	border-radius: 50%;
	position: absolute;
	top: 0px;
	left: 0px;
}
.font__icon::before{
	position: absolute;
	left: 50%;
	top:50%;
	transform: translate(-50%,-50%);
	z-index: 2;
	font-size: 22px;
}

.social__items {
	padding-right: 10px;
}

.footer__copyright {
	text-align: center;
	margin-bottom: 10px;
}
